<%= form_for(@flavour) do |f| %>
  <% if @flavour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@flavour.errors.count, "error") %> prohibited this flavour from being saved:</h2>

      <ul>
      <% @flavour.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :mood, 'Which picture best describes your current mood?' %><br>
    <%= radio_button("flavour", "mood", "Happy") %> Happy
    <%= radio_button("flavour", "mood", "Sad") %> Sad
    <%= radio_button("flavour", "mood", "Angry") %> Angry
    <%= radio_button("flavour", "mood", "Neutral") %> Neutral
  </div>

  <div class="field">
    <%= f.label :personality, "Which picture best describes what you were doing last night?" %><br>
    <%= radio_button("flavour", "personality", "Party") %> Party
    <%= radio_button("flavour", "personality", "Lucky") %> Lucky
    <%= radio_button("flavour", "personality", "Unlucky") %> Unlucky
    <%= radio_button("flavour", "personality", "TV") %> TV
  </div>

  <div class="field">
    <%= f.label :cheekyness, "How Cheeky you feeling today?" %><br>
    <%= radio_button("flavour", "personality", "1") %> 
    <%= radio_button("flavour", "personality", "2") %> 
    <%= radio_button("flavour", "personality", "3") %> 
    <%= radio_button("flavour", "personality", "4") %> 
  </div>

  <div class="field">
    <%= f.label :transport, "What is the best representation of your car?" %><br>
    <%= radio_button("flavour", "transport", "Lambo") %> Party
    <%= radio_button("flavour", "transport", "BMW") %> Lucky
    <%= radio_button("flavour", "transport", "Citroen") %> Unlucky
    <%= radio_button("flavour", "transport", "Shoe") %> TV  
  </div>

  <div class="field">
    <%= f.label :scenariotube %><br>
    <%= f.text_area :scenariotube %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
