<%= form_for(@flavour) do |f| %>
  <% if @flavour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@flavour.errors.count, "error") %> prohibited this flavour from being saved:</h2>

      <ul>
      <% @flavour.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="questions">
    <h3><img class="bob" src="http://www.nandos.co.uk/sites/all/themes/nandos/images/pages/home/home_arrow_icon.png", width="15"> Which picture best describes your current mood?</h3>
    <%= radio_button("flavour", "mood", "Happy") %> <%= image_tag('Happy.jpg', width: '150')%>
    <%= radio_button("flavour", "mood", "Sad") %> <%= image_tag('Sad.jpg', width: '150')%>
    <%= radio_button("flavour", "mood", "Angry") %> <%= image_tag('Angry.jpg', width: '150')%>
    <%= radio_button("flavour", "mood", "Neutral") %> <%= image_tag('Neutral.jpg', width: '150')%>
    </div>
  </div>

  <div class="field">
    <div class="questions">
    <h3><img class="bob" src="http://www.nandos.co.uk/sites/all/themes/nandos/images/pages/home/home_arrow_icon.png", width="15"> Which picture best describes what you were doing last night?</h3>
    <%= radio_button("flavour", "personality", "Party") %>  <%= image_tag('Party.jpg', width: '150')%>
    <%= radio_button("flavour", "personality", "Lucky") %>  <%= image_tag('Lucky.jpg', width: '150')%>
    <%= radio_button("flavour", "personality", "Unlucky") %>  <%= image_tag('Unlucky.jpg', width: '150')%>
    <%= radio_button("flavour", "personality", "TV") %>  <%= image_tag('TV.jpg', width: '150')%>
    </div>
  </div>

  <div class="field">
    <div class="questions">
    <h3><img class="bob" src="http://www.nandos.co.uk/sites/all/themes/nandos/images/pages/home/home_arrow_icon.png", width="15"> How Cheeky you feeling today?</h3>
    <%= radio_button("flavour", "cheekyness", "1") %> <%= image_tag('Cheeky1.jpg', width: '150')%>
    <%= radio_button("flavour", "cheekyness", "2") %> <%= image_tag('Cheeky2.jpg', width: '150')%>
    <%= radio_button("flavour", "cheekyness", "3") %> <%= image_tag('Cheeky3.jpg', width: '150')%>
    <%= radio_button("flavour", "cheekyness", "4") %> <%= image_tag('Cheeky4.jpg', width: '150')%>
    </div>
  </div>

  <div class="field">
    <div class="questions">
    <h3><img class="bob" src="http://www.nandos.co.uk/sites/all/themes/nandos/images/pages/home/home_arrow_icon.png", width="15"> What is the best representation of your car?</h3>
    <%= radio_button("flavour", "transport", "Lambo") %> <%= image_tag('Lambo.jpg', width: '150')%>
    <%= radio_button("flavour", "transport", "BMW") %> <%= image_tag('BMW.jpg', width: '150')%>
    <%= radio_button("flavour", "transport", "Citroen") %> <%= image_tag('Citroen.jpg', width: '150')%>
    <%= radio_button("flavour", "transport", "Shoe") %> <%= image_tag('Shoe.jpg', width: '150')%>  
    </div>
  </div>

  <div class="field">
    <div class="questions">
    <h3><img class="bob" src="http://www.nandos.co.uk/sites/all/themes/nandos/images/pages/home/home_arrow_icon.png", width="15"> Which TV show character best suits you?</h3>
    <%= radio_button("flavour", "scenariotube", "1") %> <%= image_tag('khaleesi.jpg', width: '150')%>
    <%= radio_button("flavour", "scenariotube", "2") %> <%= image_tag('Rick.jpg', width: '150')%>
    <%= radio_button("flavour", "scenariotube", "3") %> <%= image_tag('Sheldon.jpg', width: '150')%>
    <%= radio_button("flavour", "scenariotube", "4") %> <%= image_tag('walter_white.jpg', width: '150')%> 
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Find your Flavour", class: 'success button' %>
  </div>
<% end %>
