
<div id= "flavour-show">

<% if (@flavour.mood == 'Angry' && @flavour.personality == 'Lucky') || (@flavour.mood == 'Neutral' && @flavour.personality == 'Lucky') %>

<h1><%= @flavour.name %> you should go for EXTRA EXTRA HOT</h1>


<% elsif (@flavour.mood == 'Happy' && @flavour.personality == 'Party') || (@flavour.mood == 'Angry' && @flavour.personality == 'TV') %>

<h1><%= @flavour.name %> you should go for EXTRA HOT</h1>


<% elsif (@flavour.mood == 'Neutral' && @flavour.personality == 'TV') || (@flavour.mood == 'Neutral' && @flavour.personality == 'Unlucky') %>

<h1><%= @flavour.name %> you should go for HOT</h1>


<% elsif (@flavour.mood == 'Sad' && @flavour.personality == 'TV') || (@flavour.mood == 'Angry' && @flavour.personality == 'Party')%>

<h1><%= @flavour.name %> you should go for Medium</h1>


<% elsif (@flavour.mood == 'Angry' && @flavour.personality == 'Unlucky') || (@flavour.mood == 'Happy' && @flavour.personality == 'TV') %>

<h1><%= @flavour.name %> you should go for Garlic</h1>


<% elsif (@flavour.mood == 'Sad' && @flavour.personality == 'Unlucky') %>

<h1><%= @flavour.name %> you should go for Wild Herb</h1>


<% elsif (@flavour.mood == 'Happy' && @flavour.personality == 'Lucky') || (@flavour.mood == 'Sad' && @flavour.personality == 'Party') %>

<h1><%= @flavour.name %> you should go for Mild</h1>


<% elsif (@flavour.mood == 'Happy' && @flavour.personality == 'Unlucky') %>

<h1><%= @flavour.name %> you should go for Lemon and Herb</h1>


<% elsif (@flavour.mood == 'Sad' && @flavour.personality == 'Lucky') || (@flavour.mood == 'Neutral' && @flavour.personality == 'Party') %>

<h1><%= @flavour.name %> you should go for Plain</h1>


<% else %>

<h1>You cheeky one! Go back do all the questions properly!</h1>


<% end %>
</div>